<nav class="navigation">
  <h2 class="navigation__title">Menu</h2>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="" class="navigation__link navigation__link--active">Profit</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Explore</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Profile</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Photos</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Videos</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Invite</a>
      <span class="notification notification--large navigation__notification"
      >{{ inviteQuantity }}</span>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Music</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Candidates</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Calendar</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Feedback</a>
    </li>
    <li class="navigation__item">
      <a href="" class="navigation__link">Help</a>
    </li>
  </ul>

  <app-search class="navigation__search"></app-search>
</nav>











